body{
	background-color: silver;
	font-size: 16px;
	font-family: monospace;
	margin: 30px;
	text-transform: capitalize;
	padding: 70px;


}

a{
	text-transform: none;
	text-decoration: none;
}
a:visited{
	color: grey;

}

.sevennine{
	

}
h3{
	padding-left: 600px;

}
